body {
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #B3C9D8
    

/* Class to center a element */

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flexbox {
  display: flex;
  align-items: center;
  text-align: center; 
  justify-content: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
}