{% extends 'nav.html.twig' %}

{% block title %}New Persona{% endblock %}

{% block content %}
<body>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Crear a una nueva persona</h1>

    {{ include('persona/_form.html.twig') }}

    <br>

    <button class="btn"><a href="{{ path('persona_index') }}">Volver a la lista de personas</a></button>

</main>
</body>
{% endblock %}
