{% extends 'nav.html.twig' %}
{% block title %}New Departamento{% endblock %}

{% block content %}
<body>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Crear un nuevo departamento de empresa </h1>
    <br>
    
    {{ include('departamento/_form.html.twig') }}

    <br>
    <br>

    <button class="btn"><a href="{{ path('departamento_index') }}">Mostrar lista de departamentos</a></button>

</main>
</body>
{% endblock %}
